/* Remove bottom border */
:host {
	border-bottom: none;
}

/* Headline font */
.header-title {
	font-size: var(--md-sys-typescale-headline-small-size);
	font-weight: var(--md-sys-typescale-headline-small-weight);
	line-height: var(--md-sys-typescale-headline-small-line-height);
	letter-spacing: var(--md-sys-typescale-headline-small-tracking);
	min-height: var(--md-sys-typescale-headline-small-line-height);
	color: var(--md-sys-color-on-surface);

	/* Fix more info dialog header */
	--ha-font-size-xl: var(--md-sys-typescale-headline-small-size);
	--ha-line-height-condensed: var(
		--md-sys-typescale-headline-small-line-height
	);
}

/* Supporting text font and color */
.header-subtitle {
	font-size: var(--md-sys-typescale-body-medium-size);
	font-weight: var(--md-sys-typescale-body-medium-weight);
	line-height: var(--md-sys-typescale-body-medium-line-height);
	letter-spacing: var(--md-sys-typescale-body-medium-tracking);
	color: var(--md-sys-color-on-surface-variant);
}

/* Leading icon */
.header-navigation-icon {
	--icon-primary-color: var(--md-sys-color-secondary);
	--mdc-icon-size: 24px;
}
