/* Fix cursor */
#slider {
	cursor: pointer;

	--thumb-scale: 1;
}

/* Inactive track */
#track {
	background: var(--md-sys-color-secondary-container);
	border-radius: var(--md-sys-shape-corner-small);
}

/* Inactive track inner corner shape */
#indicator::after {
	content: '';
	position: absolute;
	inset-inline-end: calc(-14px - 4px * var(--thumb-scale));
	height: var(--ha-slider-track-size);
	width: 6px;
	border-radius: 2px;
	box-shadow: -4px 0 0 var(--ha-slider-thumb-negative-color);
	transition: inset-inline-end var(--md-sys-motion-expressive-spatial-fast);
}

/* Active track */
#indicator {
	background: var(--md-sys-color-primary);
	border-top-left-radius: var(--md-sys-shape-corner-small);
	border-bottom-left-radius: var(--md-sys-shape-corner-small);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 4px 0 0 var(--ha-slider-thumb-negative-color);
	margin-inline-end: calc(4px + 2px * var(--thumb-scale));
	transition:
		right var(--md-sys-motion-expressive-spatial-fast),
		left var(--md-sys-motion-expressive-spatial-fast),
		margin-inline-end var(--md-sys-motion-expressive-spatial-fast);
}

/* Thumb */
#thumb {
	background: var(--md-sys-color-primary);
	border-radius: var(--md-sys-shape-corner-full);
	width: calc(var(--thumb-width) * var(--thumb-scale));
	left: calc(var(--position) - (var(--thumb-width) * var(--thumb-scale)) / 2);
	transition:
		width var(--md-sys-motion-expressive-spatial-fast),
		left var(--md-sys-motion-expressive-spatial-fast);
	outline-offset: 6px;

	--thumb-height: 44px;
	--thumb-width: 4px;
}

/* Thumb negative area */
#thumb::before,
#thumb::after {
	content: '';
	position: absolute;
	height: var(--ha-slider-track-size);
	width: 4px;
	top: calc(0.5 * (100% - var(--ha-slider-track-size)));
	background: var(--ha-slider-thumb-negative-color);
}
#thumb::before {
	inset-inline-start: -4px;
}
#thumb::after {
	inset-inline-end: -4px;
}

/* Reduce thumb width when active */
#slider:focus-visible,
#slider:has(~ #tooltip[open]) {
	--thumb-scale: 0.5;
}
#slider:focus-visible #thumb {
	outline: 6px solid var(--md-sys-color-secondary-container);
}

/* Tooltip */
#tooltip::part(body) {
	background: var(--md-sys-color-inverse-surface);
	color: var(--md-sys-color-inverse-on-surface);
	padding: 12px 16px;
}

/* Stops */
#markers {
	--marker-width: 4px;
	--marker-height: 4px;
}
.marker {
	/* background-color: var(--md-sys-color-on-primary); */
	background-color: var(--md-sys-color-on-secondary-container);
	mix-blend-mode: difference;
}
