/* Thumb size */
:host {
	--thumb-height: var(--ha-slider-track-size);
	--thumb-width: 12px;
	--thumb-focus-ring-height: 54px;
	--thumb-actual-height: 44px;
}

/* Fix cursor */
#slider {
	cursor: pointer;
}

/* Inactive track */
#track {
	background: var(--md-sys-color-secondary-container);
	border-radius: var(--md-sys-shape-corner-small);
}

/* Inactive track inner corner shape */
#indicator::after {
	content: '';
	position: absolute;
	inset-inline-end: -18px;
	height: var(--ha-slider-track-size);
	width: 6px;
	border-radius: 2px;
	box-shadow: -4px 0 0 3px var(--ha-slider-thumb-negative-color);
	transition: inset-inline-end var(--md-sys-motion-expressive-spatial-default);
}

/* Active track */
#indicator {
	background: var(--md-sys-color-primary);
	border-top-left-radius: var(--md-sys-shape-corner-small);
	border-bottom-left-radius: var(--md-sys-shape-corner-small);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 4px 0 0 var(--ha-slider-thumb-negative-color);
	margin-inline-end: 6px;
	transition:
		right var(--md-sys-motion-expressive-spatial-default),
		left var(--md-sys-motion-expressive-spatial-default),
		margin-inline-end var(--md-sys-motion-expressive-spatial-default);
}

/* Thumb negative area */
#thumb {
	background: var(--ha-slider-thumb-negative-color);
	border-radius: 0;
	transition:
		width var(--md-sys-motion-expressive-spatial-default),
		left var(--md-sys-motion-expressive-spatial-default);
}

/* Thumb */
#thumb::before,
#thumb::after {
	content: '';
	position: absolute;
	height: var(--thumb-actual-height);
	width: 4px;
	top: calc(
		-0.5 * (var(--thumb-actual-height) - var(--ha-slider-track-size))
	);
	border-radius: var(--md-sys-shape-corner-full);
	inset-inline-start: 4px;
}
#thumb::before {
	background: var(--md-sys-color-primary);
}
#thumb::after {
	transition: outline-width var(--md-sys-motion-expressive-spatial-default);
}

/* Reduce thumb width when active */
#slider:focus-visible #thumb,
#slider:has(~ #tooltip[open]) #thumb {
	scale: 0.66667 1;
}
#slider:focus-visible #thumb::before,
#slider:has(~ #tooltip[open]) #thumb::before {
	scale: 0.75 1;
}
#slider:focus-visible #thumb::after,
#slider:has(~ #tooltip[open]) #thumb::after {
	scale: 1.5 1;
}
#slider:focus-visible #indicator,
#slider:has(~ #tooltip[open]) #indicator {
	margin-inline-end: 4px;
}
#slider:focus-visible #indicator::after,
#slider:has(~ #tooltip[open]) #indicator::after {
	inset-inline-end: -14px;
}

/* Thumb focus ring */
#slider:focus-visible #thumb {
	outline: none;
}
#slider:focus-visible #thumb::after {
	height: var(--thumb-focus-ring-height);
	top: calc(
		-0.5 * (var(--thumb-focus-ring-height) - var(--ha-slider-track-size))
	);
	outline-offset: 2px;
	outline: 4px solid var(--md-sys-color-secondary-container);
}

/* Tooltip */
#tooltip::part(body) {
	background: var(--md-sys-color-inverse-surface);
	color: var(--md-sys-color-inverse-on-surface);
	padding: 12px 16px;
	translate: 0 -6px;
}

/* Stops */
#markers {
	--marker-width: 4px;
	--marker-height: 4px;
}
.marker {
	/* background-color: var(--md-sys-color-on-primary); */
	background-color: var(--md-sys-color-on-secondary-container);
	mix-blend-mode: difference;
}
