:host {
	--ha-view-sections-row-height: 80px;
	--ha-view-sections-row-gap: 16px;
	--ha-view-sections-extra-top-margin: 40px;
}

/* Fix view footer card position */
hui-view-footer {
	bottom: calc(
		var(--view-footer-card-bottom, var(--footer-height, 0px)) +
			var(--safe-area-inset-bottom) + var(--view-container-padding-bottom, 0px)
	);
	max-width: calc(100% - var(--add-view-fab-size, 0px));
}
