/* Expressive animations */
.dialog.show {
	animation: show-dialog var(--md-sys-motion-expressive-spatial-fast);
}

.dialog.hide {
	animation: show-dialog var(--md-sys-motion-expressive-spatial-fast) reverse;
}
